
@{
    ViewBag.Title = "Education";
}

<h2 style="text-align:center">Educational Background</h2>

<div style="text-align:center">


    <section style="
        border-radius: 10px;
        background-color: wheat;
        padding: 10px;
        padding-left: 20px;
        margin-top: 20px;
      ">
        <h2><u>Educational Qualification</u></h2>

        <p>
            BSc in CSE <br />American International University-Bangladesh.
            <br />Year: 2020 to present.
        </p>
        <hr>
        <p>
            Higher Secondary Certificate <br />St. Gregory High School and
            College. <br />Year: 2019.
        </p>
        <hr>
        <p>
            Secondary School Certificate <br />Dhaka Collegiate School, Dhaka.
            <br />Year: 2017.
        </p>

    </section>


</div>
<br />
<br />
<div style="text-align:center">
    <a href="../Profile/Index" style="background-color:cyan; padding:10px; color:black;">Go Back</a>
</div>