
@{
    ViewBag.Title = "Index";
}

<div style="text-align:center">




    <h2>Welcome To My Profile</h2>
    <h3>@ViewData["Name"]</h3>
    <h4>@ViewData["Mail"]</h4>
</div>
<hr />

<div style="text-align:center">
    <a href="../Profile/Basic">Click here to view Basic Details.</a><br />
    <a href="../Profile/Education">Click here to view Educational Details.</a><br />
    <a href="../Profile/Project">Click here to view Projects Details.</a><br />
    <a href="../Profile/Reference">Click here to view References.</a><br />
</div>

