
@{
    ViewBag.Title = "Reference";
}

<h2 style="text-align:center">References</h2>


<div style="text-align:center">
    <section style="
        border-radius: 10px;
        background-color: wheat;
        padding: 10px;
        padding-left: 20px;
        margin-top: 20px;
      ">
        <h2><u>Projects</u></h2>

        <p>
            TANVIR AHMED <br />
            Lecturer , Computer Science <br />
            American International University-Bangladesh
            <br />Email: tanvir.ahmed@aiub.edu

        </p>


    </section>
</div>

<br />
<br />
<div style="text-align:center">
    <a href="../Profile/Index" style="background-color:cyan; padding:10px; color:black;">Go Back</a>
</div>